#main_building {
	padding-left: 15%;
	padding-top: 10%;
}

#details td {
	padding: 2%;
}

#detail_title {
	font-size: 20px;
	font-weight: bold;
}

#detail1_link {
	font-size: 30px;
	z-index: 100;
	position: absolute;
	top: 20%;
	left: 30%;
	color: white;
}

#detail2_link {
	font-size: 30px;
	z-index: 100;
	position: absolute;
	top: 30%;
	left: 30%;
	color: white;
}

#detail3_link {
	font-size: 30px;
	z-index: 100;
	position: absolute;
	top: 40%;
	left: 30%;
	color: white;
}

#design_container {
	position: relative;
}

#design_container a:link {
	color: white;
}

#design_container a:visited {
	color: white;
}

#design_container a:hover {
	color: white;
}

#detail1_page {
	position: absolute;
	top: 90%;
}

#detail2_page {
	position: absolute;
	top: 110%;
}

#detail3_page {
	position: absolute;
	top: 120%;
}

